<div class="container mt-3">
  <%= month_calendar events: @events do |date, events| %>
    <%= date %>
    <%= link_to new_event_path, class: "float-right", style: "text-decoration: none" do%>
      <i class="material-icons text-secondary" id="lock">add</i>
    <% end %>
    <% events.each do |event| %>
      <div>
        <% if !event.private || current_user == event.user %>
          <%= link_to event_path(event), class: "text-dark", style: "text-decoration: none" do%>
            <%= event.name %>
          <% end %>
        <% else %>
          <%= event.name %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
