<p id="notice"><%= notice %></p>

<div class="container mt-5">
  <div class="row">
    <div class="col-7">
      <h1>Events</h1>
    </div>
    <div class="col-2">
      <div class="float-right"><%= link_to 'New Event', new_event_path, class: "btn btn-outline-primary" %></div>
    </div>
  </div>
</div>
<% @events.each do |event| %>
<div class="container mt-2">
    <div class="card w-75">
      <div class="card-body">
        <p class="card-text h3"><%= event.name %></p>
        <p class="card-text"><%= formatted_date(event.date) %></p>
        <%= link_to 'Edit', edit_event_path(event), class: "btn btn-info btn-sm float-right ml-2" %>
        <%= link_to 'Delete', event, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-info btn-sm float-right" %>
      </div>
    </div>
  </div>
<% end %>
